@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@utility text-glow {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@utility animate-slower-spin {
  animation: spin 10s linear infinite;
}